@font-face {
  font-family: 'HitchhikerFont'; // <-好きな名前をつけれます。
  src: url('../font/Hitchhiker.ttf') format('truetype');

  font-family: 'OswaldRegularFont'; // <-好きな名前をつけれます。
  src: url('../font/Oswald-Regular.ttf') format('truetype');
}
